# htaccess
.htaccess

# Untrack config
application/config/database.php
application/config/gfx.php
system/logs/*

# Untrack var files
stickerimages/features
system/cache
useravatars
userstickers

# minified js
js/*.min.js

# google analytics html
google*.html


