RewriteEngine On

#Don't to do the other way around coz lots of POST will get redirected.
RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)/$ http://stage.gfx.tw/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ index.php/$1 [L]
