@charset "UTF-8";
@import url('http://ui.jquery.com/latest/themes/flora/flora.dialog.css');

html {
	overflow: auto;
	border: none;
}
body {
	width: 900px;
	margin: 0 auto; padding: 0;
	font: 0.92em '文泉驛正黑', sans-serif;
}

img {
	border: none; vertical-align: middle;
}

#header {
	margin: 0; padding: 0;
	border: 1px dashed #999999;
	height: 2.5em;
}
#header p {
	margin: 0; padding: 0.5em;
}
#header #header_top_link {
	float: left;
}
#header #header_user_functions, #header #header_login {
	float: right;
}

#footer {
	border-top:1px solid #999999;
	margin:2em 0;
	padding:1em 0;
	text-align:center;
	clear:both;
	margin-top:1em;
	color:#000000;
}

#footer p, #footer p a {
	color:#666666;
	font-size:small;
}

#logout_form {
	display: none;
}

#titleblock {
	border: 1px dashed #999999;
	height: 320px;
	position: relative;
	margin-top: 50px;
}
#titleblock h1 {
	font-size: 1em;
}
#titleblock #title-avatar {
	position: absolute;
	top: 50px; left: 300px;
	height: 60px; width: 60px;
	overflow: hidden;
	border: 1px dashed #999999;
}
#titleblock #title-avatar img {
	width: 60px;
}
#titleblock #title-name, #titleblock #title-name-edit input {
	position: absolute;
	top: 50px; left: 370px;
	height: 40px; width: 230px;
	font-size: 40px; line-height: 40px;
	white-space: nowrap;
}
#titleblock #title-name-edit input {
	display: none;
}
#titleblock #title-1 {
	position: absolute;
	top: 90px; left: 370px;
	height: 20px; width: 230px;
	font-size: 20px; line-height: 20px;
	white-space: nowrap;
}
#titleblock #title-2 {
	position: absolute;
	top: 120px; left: 300px;
	height: 100px; width: 500px;
	font-size: 100px; line-height: 100px;
	white-space: nowrap;
}
#titleblock #title-3 {
	position: absolute;
	top: 190px; left: 650px;
	height: 30px; width: 100px;
	font-size: 30px; line-height: 30px;
	white-space: nowrap;
}
#titleblock .downloadframeborder {
	position: absolute;
	top: -40px; left: 600px;
	background-color: #94B2BC;
}
#titleblock .downloadframeborder .downloadframe {
	height: 160px; width: 325px;
	background-color: #FFFFFF;
}
#titleblock .downloadframeborder .downloadframe .download {
	margin-left: 10px; margin-top: 20px;
	height: 100px; width: 300px;
	background-color: #C4EFA1;
	border: 1px dashed #999999;
}
#titleblock .desc {
	position: absolute;
	top: 230px; left: 300px;
	height: 100px; width: 550px;
}
#features {
}
#features .feature {
	float: left; width: 298px; height: 10em;
	border: 1px dashed #999999;
}

#userinfo {
	float: left; width: 268px;
	border: 1px dashed #999999;
}

#groups {
	float: right; width: 628px;
	border: 1px dashed #999999;
}

#groups-show-detail {
	float: right;
}

#groups-title {
	float: right; width: 628px;
	border: 1px dashed #999999;
}

#groups .group {
	clear: both;
}

#groups .not-selected {
	color: #999999;
}

#groups .group .group-title {
	border: 1px dashed #999999;
}

#groups .group .group-title input {
	float: left;
}

#groups .group .group-title h3 {
	font-size: 1.2em; font-weight: bold;
	margin: 0; padding: 0;
	width: 6em;
	float: left;
}

#groups .group p {
	margin: 0; padding: 0;
}

#groups .group .group-add-addon {
	float: right;
}

#groups .group .group-addons {
	clear: both;
	border: 1px dashed #999999;
	min-height: 1em;
	height: 100%;
	overflow: auto;
}
#addon_query_result {
	border: 1px dashed #999999;
}
.addon {
	float: left; width: 153px; height: 70px;
	border: 1px dashed #999999;
}

.addon p {
	margin: 0; padding: 0;
}

.addon img {
	display: block; margin: 3px 61px;
	border: 1px dashed #999999;
	width: 32px; height: 32px;
}

.addon span {
	display: block; width: 100%;
	text-align: center;
}

.addon .desc, .addon .install {
	display: none;
}

.detailed .addon {
	float: none; width: auto; height: auto;
}

.detailed .addon img {
	float: left; margin: 3px 10px;
}

.detailed span {
	font-weight: bold; font-size: 1.2em;
	text-align: left;
}

.detailed .addon .desc, .detailed .addon .install {
	display: block;
}

.detailed .addon .install {
	text-align: right;
}

#featureselection {
	border: 1px dashed #999999;
}
#featureselection ul {
}
#featureselection li {
	float: left;
	list-style: none;
}

#featureselection #featureselection_save {
	clear: both;
	text-align: right;
}

#window_avatar .window_content {
	height: 100%;
}
#window_avatar .avatar_selection {
	float: left;
	width: 30%; height: 100%; overflow: hidden;
	border: 1px dashed #999999;
	text-align: center;
}
#window_avatar .avatar_selection .avatar_icon {
	height: 60px; width: 60px;
	margin: 0.5em auto;
}

#window_avatar .avatar_selection #avatar_spfupload {
	background-color: #990000;
}
.editable {
	cursor: pointer;
}
.sortable {
	cursor: move;
}