@charset "UTF-8";
@import url('http://ui.jquery.com/latest/themes/flora/flora.dialog.css');

html {
	overflow: auto;
	border: none;
}
body {
	width: 900px;
	margin: 0 auto; padding: 0;
	font: 0.92em '文泉驛正黑','微軟正黑體', sans-serif;
}

img {
	border: none; vertical-align: middle;
}

#header {
	margin: 0; padding: 0;
	background: transparent url('images/header.jpg') center bottom no-repeat;
	height: 2.5em;
	color: #cccccc;
}
#header p {
	margin: 0; padding: 0.5em;
}

#header p a {
	color: #ffffff;
	text-decoration: none;
}

#header p a:hover {
	text-decoration: underline;
}

#header #header_top_link {
	float: left;
	font-weight: bold;
	font-size: 1.2em;
}
#header #header_user_functions, #header #header_login {
	float: right;
}

#footer {
	border-top:1px solid #999999;
	margin:2em 0;
	padding:1em 0;
	text-align:center;
	clear:both;
	margin-top:1em;
	color:#000000;
}

#footer p, #footer p a {
	color:#666666;
	font-size:small;
}

#logout_form {
	display: none;
}

#titleblock {
	background: transparent url('images/titleblock.jpg') center top no-repeat;
	height: 345px;
	position: relative;
}
#titleblock h1 {
	font-size: 1em;
}
#titleblock #title-avatar {
	position: absolute;
	top: 87px; left: 270px;
	height: 65px; width: 65px;
	overflow: hidden;
	border: 1px dashed #999999;
}
#titleblock #title-avatar img {
	width: 65px;
}
#titleblock #title-name, #titleblock #title-name-edit input {
	position: absolute;
	top: 87px; left: 343px;
	height: 40px; width: 230px;
	font-size: 36px; line-height: 40px;
	white-space: nowrap;
}
#titleblock #title-name-edit input {
	display: none;
}
#titleblock #title-1 {
	position: absolute;
	top: 135px; left: 343px;
	height: 20px; width: 230px;
	font-size: 18px; line-height: 20px;
	white-space: nowrap;
}
#titleblock #title-2 {
	position: absolute;
	background: transparent url('images/title-2.png') center top no-repeat;
	top: 163px; left: 268px;
	height: 77px; width: 273px;
	font-size: 77px; line-height: 77px; color: #ff9900;
	text-indent: -100000px;
	white-space: nowrap;
}
#titleblock #title-3 {
	position: absolute;
	top: 205px; left: 547px;
	height: 30px; width: 100px;
	font-size: 30px; line-height: 30px;
	white-space: nowrap;
}

#titleblock .download {
	position: absolute;
	top: 37px; left: 600px;
	width: 260px; height: 85px;
	border: 1px dashed #999999;
}
#titleblock .download p {
	margin: 0; padding: 0;
}
#titleblock .download .link {
	position: absolute;
	top: 15px; left: 70px;
	height: 30px; width: 148px;
	font-size: 30px; line-height: 30px;
}

#titleblock .download .link a {
	color: #000099;
	font-weight: bold;
}

#titleblock .download .link a:hover {
	background-color: #ddffbb;
}

#titleblock .download .version {
	position: absolute;
	top: 55px; left: 70px;
	height: 15px; width: 180px;
	font-size: 15px; line-height: 15px;
	white-space: nowrap;
}
#titleblock .count {
	position: absolute;
	top: 110px; left: 600px;
	width: 260px; height: 16px;
	font-size: 16px; line-height: 16px;
	text-align: right;
	white-space: nowrap;
	border: 1px dashed #999999;
}

#titleblock .desc {
	position: absolute;
	top: 246px; left: 268px;
	height: 75px; width: 540px;
}
#features {
	width: 900px; height: 272px;
	background: transparent url('images/userpage-block-bg.jpg') center top repeat-y;
}
#features .feature {
	float: left; width: 300px; height: 272px;
	position: relative;
	background: transparent url('images/feature-empty.gif') center top no-repeat;
}
#features #security {
	background: transparent url('images/feature-lock.gif') center top no-repeat;
}
#features #personalization {
	background: transparent url('images/feature-puzzle.gif') center top no-repeat;
}
#features #info {
	background: transparent url('images/feature-star.gif') center top no-repeat;
}

#features .ui-sortable-placeholder {
	visibility: visible!important;
	background: transparent url('images/feature-dragbox.gif') center top no-repeat;
}

#features .feature h2 {
	position: absolute;
	margin: 0; padding: 0;
	top: 30px; left: 100px;
	font-size: 35px; line-height: 35px;
}

#features .feature p {
	position: absolute;
	margin: 0; padding: 0;
	top: 100px; left: 30px;
	width: 240px; height: 125px;
}


#features .feature .link {
	position: absolute;
	margin: 0; padding: 0;
	top: 220px; left: 210px;
	width: 61px; height: 25px;
	font-size: 15px; text-indent: -10000px;
	background: transparent url('images/feature-more.gif') top center no-repeat;
}

#features .feature .link a {
	display: block;
	width: 61px; height: 25px;
}

#userinfo {
	float: left; width: 268px;
	border: 1px dashed #999999;
}

#groups {
	float: right; width: 628px;
	border: 1px dashed #999999;
}

#groups-show-detail {
	float: right;
}

#groups-title {
	float: right; width: 628px;
	border: 1px dashed #999999;
}

#groups .group {
	clear: both;
}

#groups .not-selected {
	color: #999999;
}

#groups .group .group-title {
	border: 1px dashed #999999;
}

#groups .group .group-title input {
	float: left;
}

#groups .group .group-title h3 {
	font-size: 1.2em; font-weight: bold;
	margin: 0; padding: 0;
	width: 6em;
	float: left;
}

#groups .group p {
	margin: 0; padding: 0;
}

#groups .group .group-add-addon {
	float: right;
}

#groups .group .group-addons {
	clear: both;
	border: 1px dashed #999999;
	min-height: 1em;
	height: 100%;
	overflow: auto;
}
#addon_query_result {
	border: 1px dashed #999999;
}
.addon {
	float: left; width: 153px; height: 70px;
	border: 1px dashed #999999;
}

.addon p {
	margin: 0; padding: 0;
}

.addon img {
	display: block; margin: 3px 61px;
	border: 1px dashed #999999;
	width: 32px; height: 32px;
}

.addon span {
	display: block; width: 100%;
	text-align: center;
}

.addon .desc, .addon .install {
	display: none;
}

.detailed .addon {
	float: none; width: auto; height: auto;
}

.detailed .addon img {
	float: left; margin: 3px 10px;
}

.detailed span {
	font-weight: bold; font-size: 1.2em;
	text-align: left;
}

.detailed .addon .desc, .detailed .addon .install {
	display: block;
}

.detailed .addon .install {
	text-align: right;
}

#featureselection {
	border: 1px dashed #999999;
}
#featureselection ul {
}
#featureselection li {
	float: left;
	list-style: none;
}

#featureselection #featureselection_save {
	clear: both;
	text-align: right;
}

#window_avatar .window_content {
	height: 100%;
}
#window_avatar .avatar_selection {
	float: left;
	width: 30%; height: 100%; overflow: hidden;
	border: 1px dashed #999999;
	text-align: center;
}
#window_avatar .avatar_selection .avatar_icon {
	height: 60px; width: 60px;
	margin: 0.5em auto;
}

#window_avatar .avatar_selection #avatar_spfupload {
	background-color: #990000;
}
.editable {
	cursor: pointer;
}
.sortable {
	cursor: move;
}