@charset "UTF-8";

/* The mighty HTML */

html {
	overflow: auto;
	border: none;
}

/* The body */

body {
	margin: 0 auto; padding: 0;
	text-align: center;
}

html > body {
	width: 900px;
	text-align: left;
}

body.inframe {
	margin: 0;
	background-color: #f0efea;
	text-align: left;
}

html > body.inframe {
	width: auto;
}

body div {
	width: 900px;
	text-align: left;
}

body div div {
	width: auto;
}

body > div {
	width: auto;
}

img {
	border: none; vertical-align: middle;
}

input, select, textarea, button, option, optgroup {
	vertical-align: baseline;
}

optgroup {
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

#header {
	margin: 0 0 10px 0; padding: 0;
	background: transparent url('../images/header.jpg') center bottom no-repeat;
	height: 38px;
	color: #cccccc;
}

#header.no-margin {
	margin: 0;
}

#header p {
	margin: 0; padding: 0.5em;
}

#header p a {
	color: #ffffff;
	text-decoration: none;
}

#header p a:hover {
	text-decoration: underline;
}

#header #header_top_link {
	float: left;
	font-weight: bold;
	font-size: 1.2em; padding: 0.5em 0.6em;
}

#header #header_top_link a {
	/* background: has moved to language-*.css */
	display: block;
	position: relative; top: -6px;
	text-indent: -10000px;
}

#header #header_user_functions, #header #header_login {
	float: right;
}

#header ul {
	float: right;
	margin: 6px 6px 0 0; padding: 0;
	height: 32px;
	list-style: none;
}

#header ul li {
	float: left; display: block;
	margin: 0 2px; padding: 0;
	list-style: none;
}

#header ul li.active {
	border-bottom-color: #5a9d1a!important;
}

#header ul li.ui-corner-top {
	height: 30px;
}
#header ul li.ui-corner-all {
	height: 24px;
}

#header ul li a {
	display: block;
	padding: 0.2em 0.5em 0.6em 0.5em;
}

.header-block {
	display: none;
	height: 230px; width: 898px;
	margin: 0 0 10px 0;
	border-top-color: #5a9d1a!important;
}

.header-block.show {
	display: block;
}

.header-block .header-block-content {
	margin: 10px 0 0 0; padding: 0 20px;
	height: 218px;
	font-weight: normal;
}

.header-block .header-block-title {
	font-size: 1.2em;
	margin: 0; padding: 1em 0;
	font-weight: bold;
	float: left;
}

.header-block .header-block-desc {
	text-align: right;
	margin: 0; padding: 1.5em 0;
	float: right;
}

div.random-avatars {
	clear: both;
	height: 84px;
	/*background: transparent url('../images/ajax-progress.gif') center center no-repeat;*/
	padding: 0!important;
	margin: 6px 0;
}

body.random-avatars {
	padding: 0; margin: 0;
	background: #f0efea; color: #000000;
}

div.random-avatars.random-avatars-loading {
	background: transparent url('../images/ajax-progress.gif') center center no-repeat;
	border: 1px dashed #cccccc;
}

div.random-avatars.noscript {
	height: 90px;
	margin-top: -94px;
	background: #f0efea;
}

div.random-avatars.noscript iframe {
	height: 90px; width: 100%;
	border: none;
}

.random-avatars p {
	float: left;
	width: 10%; overflow: hidden;
	/* -1px insures that browsers won't overflow blocks */
	margin: 0 -1px 0 0!important; padding: 0!important;
	text-align: center;
	position: relative;
	height: 84px;
}

.random-avatars a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.random-avatars a img {
	width: 55px; height: 55px; margin: 5px auto;
	border: none;
	display: none;
}

.random-avatars a:hover img { /* This :hover does not work in IE6, don't know why */
	width: 65px; height: 65px; margin: 0 auto;
}

.random-avatars a span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	white-space: nowrap;
	display: none;
}

.random-avatars a:hover span {
	font-size: 14px;
	color: #000000;
}

body.random-avatars a img, body.random-avatars a span {
	display: block;
}

p.message-link {
	text-align: right;
}

p.message-link a {
	text-decoration: none;
	color: #000000;
}

p.message-link a:hover {
	text-decoration: underline;
	color: #000000;
}

#link_manage {
	display: none;
	position: fixed;
	bottom: 1em; right: 2em; z-index: 10;
	opacity: 0.2;
	padding: 0.5em;
}

#link_manage.ui-state-hover {
	opacity: 1;
}

#link_manage .ui-icon {
	float: left; margin-right: 0.3em;
}

#footer {
	margin: 0; padding: 50px 0 10px 0;
	background: #ffffff url('../images/userpage-block-bg-bottom.jpg') center top no-repeat;
	clear: both;
}

#footer p {
	color: #666666;
	font-size: 0.92em;
	margin: 0.2em 0; padding: 0;
	text-align: center;
}

#footer p a {
	color: #333333;
	text-decoration: none;
}

#footer p a:hover {
	text-decoration: underline;
}

input#openid-identifier {
	width: 340px;
	background: #ffffff url('../images/openid-logo-transparent.png') left center no-repeat;
	padding-left: 20px;
}

#logout_form {
	display: none;
}

div.message {
	margin: 0.3em 0;
	font-size: 1.5em;
	font-weight: bold;
	width: 900px;
	display: none;
}

div.message.show {
	display: block;
}

div.message div {
	padding: 0.7em;
}

div.message div p {
	margin: 4px;
}

div.message div p span.ui-icon {
	float: left; margin-right: 0.3em;
}
div.message div p a.ui-icon {
	float: right; margin-left: 0.3em;
}
div.message div p a.ui-icon:hover {
	background-color: #d0d0d0;
}

div.message div p a {
	color: #000000;
}

div.message p.message-desc, div.message p.message-link {
	font-size: 0.66em;
	font-weight: normal;
}

#newcomer-intro-login {
	padding: 0.5em 0.3em;
	margin: 0 0.3em;
	float: left;
	cursor: pointer;
}

#editor-save {
	position: relative;
	background: transparent url('../images/editor-save.gif') center top no-repeat;
	margin: 10px 0 20px 0; padding: 0;
	width: 900px; z-index: 2;
}

#editor-save-placeholder {
	margin: 10px 0 20px 0; padding: 0;
	display: none;
}

#editor-save p {
	position: relative; top: 10px;
	background: transparent url('../images/editor-save.gif') center bottom no-repeat;
	margin: 0; padding: 0 0.5em 10px 0.5em;
	overflow: auto; clear: both;
}

#editor-save p button {
	float: right;
}

span.title-placeholder {
}

span.title-empty {
	font-size: 90%;
}

#titleblock {
	background: transparent url('../images/titleblock.png') center top no-repeat;
	height: 308px;
	position: relative;
}
#titleblock h1 {
	font-size: 1em;
}
#titleblock #title-avatar {
	position: absolute;
	top: 50px; left: 270px;
	height: 65px; width: 65px;
	overflow: hidden;
}

#titleblock #title-avatar.editable {
	top: 48px; left: 268px;
	border: 2px solid transparent; /* IE6 doesn't understand this so we only do this at editable */
}

#titleblock #title-avatar.editable:hover {
	background-color: #ccffff;
	border: 2px solid #ccffff;
}

#titleblock #title-avatar img {
	width: 65px;
}
#titleblock #title-name, #titleblock #title-name-edit input {
	position: absolute; left: 343px;
	height: 44px; width: 260px;
	font-size: 36px; line-height: 44px; font-weight: bold;
	white-space: nowrap; overflow: hidden;
}
#titleblock #title-name {
	top: 48px;
}

#titleblock #title-name.bright {
	background-color: #ccffff;
}

#titleblock #title-name-edit input {
	top: 43px;
	display: none;
}
#titleblock #title-name-edit input.empty {
	color: #cccccc;
	font-weight: normal;
}
#titleblock #title-1 {
	position: absolute;
	top: 96px; left: 343px;
	height: 24px; width: 230px;
	font-size: 18px; line-height: 24px;
	white-space: nowrap;
}
#titleblock #title-2 {
	position: absolute;
	background: transparent url('../images/title-2.png') center top no-repeat;
	top: 122px; left: 268px;
	height: 77px; width: 273px;
	font-size: 77px; line-height: 77px; color: #ff9900;
	text-indent: -100000px;
	white-space: nowrap;
}
#titleblock #title-3 {
	position: absolute;
	top: 168px; left: 547px;
	height: 30px; width: 100px;
	font-size: 30px; line-height: 30px;
	white-space: nowrap;
}

#titleblock .download {
	position: absolute;
	top: 28px; left: 630px;
	width: 230px; height: 70px;
}
#titleblock .download p {
	margin: 0; padding: 0;
}
#titleblock .download .link {
	position: absolute;
	top: 15px; left: 65px;
	height: 26px; width: 148px;
	font-size: 26px; line-height: 30px;
}

#titleblock .download .link a {
	color: #000099;
	font-weight: bold;
}

#titleblock .download .link a:hover {
	background-color: #ddffbb;
}

#titleblock .download .version {
	position: absolute;
	top: 50px; left: 65px;
	height: 15px; width: 180px;
	font-size: 15px; line-height: 15px;
	white-space: nowrap;
}
#titleblock .count {
	margin: 0; padding: 0;
	position: absolute;
	top: 113px; left: 630px;
	width: 230px; height: 12px;
	font-size: 12px; line-height: 14px;
	text-align: right;
	white-space: nowrap;
}

#titleblock .desc {
	position: absolute;
	top: 209px; left: 268px;
	height: 75px; width: 540px;
}
#features {
	width: 900px; height: 272px; margin: 0; padding: 10px 0;
	background: transparent url('../images/userpage-block-bg.jpg') center top repeat-y;
}
#features .feature {
	float: left; width: 300px; height: 272px;
	position: relative;
	background: transparent url('../images/feature-empty.gif') center top no-repeat;
}

#features .box {
	background: transparent url('../images/feature-dragbox.gif') center top no-repeat;
}

#features .box * {
	display: none;
}

#features #security {
	background: transparent url('../images/feature-lock.gif') center top no-repeat;
}
#features #personalization {
	background: transparent url('../images/feature-puzzle.gif') center top no-repeat;
}
#features #info {
	background: transparent url('../images/feature-star.gif') center top no-repeat;
}

#features .ui-sortable-placeholder {
	visibility: visible!important;
	background: transparent url('../images/feature-dragbox.gif') center top no-repeat;
}

#features .feature h2 {
	position: absolute;
	margin: 0; padding: 0;
	top: 30px; left: 100px;
	font-size: 35px; line-height: 40px;
}

#features .feature p {
	position: absolute;
	margin: 0; padding: 0;
	top: 100px; left: 30px;
	width: 240px; height: 125px;
}


#features .feature .link {
	position: absolute;
	margin: 0; padding: 0;
	top: 220px; left: 210px;
	width: 61px; height: 25px;
	font-size: 15px; text-indent: -10000px;
	background: transparent url('../images/feature-more.gif') top center no-repeat;
}

#features .feature .link a {
	display: block;
	width: 61px; height: 25px;
}

#middleblock {
	overflow: auto;
	clear: both;
	background: transparent url('../images/userpage-block-bg.jpg') left top repeat-y;
	width: 860px;
}

#userinfo {
	float: left; width: 252px;
	margin: 2em 0 0 10px;
	border: 4px solid #cccccc;
	background-color: #ffffff;
	-moz-border-radius: 20px;
}

#userinfo h2 {
	margin: 0; padding: 0.5em;
}

#userinfo ul, #userinfo p {
	margin: 0; padding: 0.2em 0.7em 1em 0.7em;
	list-style: none;
}

#userinfo li {
	list-style: none;
}

#userinfo .item {
	display: block;
	font-weight: bold;
	font-size: 0.92em; color: #666666;
}

#userinfo .value {
	display: block;
	padding-left: 5%;
	width: 95%; white-space: nowrap; overflow: hidden;
	color: #000000;
	text-decoration: none;
}

#userinfo a.value:hover {
	text-decoration: underline;
}

#userinfo .bio {
	white-space: normal;
}
#groups {
	float: right; width: 572px;
	border: 4px solid #ffff99;
	border-top: none;
	border-bottom: none;
	background-color: #ffffcc;
}

#groups-show-detail {
	float: right;
	margin: 0.2em 1em;
}

#groups-title, #groups-tail {
	float: right; width: 572px;
	border: 4px solid #ffff99;
	background-color: #ffffcc;
}

#groups-title h2, #groups-tail h2 {
	margin: 0.7em;
}

#groups-title p, #groups-tail p {
	margin: 1em;
}

#groups-title {
	border-bottom: none;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
}

#groups-tail {
	border-top: none;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
}

#groups .group {
	clear: both;
	border: 2px solid #cccccc;
	background-color: #ffffff;
	-moz-border-radius: 6px;
}

#groups .not-selected {
	color: #999999;
}

#groups .group .group-title {
	background-color: #eeeeee;
}

#groups .group .group-title input {
	float: left;
}

#groups .group .group-title h3 {
	font-size: 1.2em; font-weight: bold;
	margin: 0; padding: 0;
	width: 6em;
	float: left;
}

#groups .group .group-title p {
	margin: 0; padding: 0;
}

#groups .group p.group-add-addon {
	float: right; 
	margin: 1px;
	font-size: 0.82em;
}
#groups .group p.group-add-addon a {
	color: #000000;
	text-decoration: none;
}

#groups .group p.group-add-addon span.ui-icon {
	float: left;
}

#groups .group .group-addons {
	clear: both;
	min-height: 1em;
	height: 100%;
	overflow: auto;
}

#groups-install {
	display: block;
	margin: 1em;
	padding: 0.5em;
	border: 2px solid #99ff99;
	background-color: #c4fea1;
	-moz-border-radius: 6px;
}

#groups-install button {
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: -0.4em;
}


#addon_query {
	width: 60%;
}

#addon_query_notfound {
	display: none;
}

#addon_query_result {
	height: 280px; overflow: auto;
	border: 2px solid #cccccc;
	background-color: #ffffff;
	-moz-border-radius: 6px;
}
.addon {
	margin: 1px 0;
	background-color: #ffffff;
	border: 2px solid #ccffcc;
	-moz-border-radius: 6px;
	overflow: hidden;
	clear: both;
}

.group-addons .ui-sortable-placeholder {
	visibility: visible!important;
	border-style: dashed;
}

.addon a {
	color: #000000;
	text-decoration: none;
}

.addon a:hover span {
	text-decoration: underline;
}

.addon p {
	margin: 0; padding: 0;
}

.addon img {
	display: block; float: left; margin: 3px 10px;
	width: 24px; height: 24px;
}

.detailed .addon img {
	width: 32px; height: 32px;
}

.addon span {
	display: block;
	font-weight: bold; font-size: 1.2em;
	text-align: left;
	padding-left: 42px; width: auto;
}

.detailed .addon span {
	padding-left: 50px;
}

.addon .add-addon {
	float: right;
	cursor: pointer;
}

.addon .del-addon {
	float: right;
	cursor: pointer;
}

.addon .del-addon:hover {
	background-color: #cccccc;
}

.addon .desc, .addon .install {
	display: none;
}

.addon .disabled {
	color: #666666;
}

.addon .desc {
	display: none;
}

.detailed .addon .desc {
	display: block;
	padding-left: 50px;
}

.addon .install {
	display: block;
	float: right;
	background-color: #ccffcc;
	-moz-border-radius-bottomleft: 6px;
}

#featureselection {
	width: 820px; margin: 0 40px; padding: 0;
	background: #ccffcc url('../images/featureselection-corner-top.gif') top center no-repeat;
}
#featureselection p, #featureselection ul {
	margin: 0; padding: 0;
}

#featureselection .features-desc {
	float: left;
	width: 190px; margin: 10px;
}

#featureselection ul {
	float: right;
	width: 590px; margin: 10px;
	list-style: none;
}
#featureselection li {
	float: left;
	cursor: move;
	width: 100px; margin: 7px; padding: 0;
	list-style: none;
	background: transparent url(../images/feature-empty.gif) no-repeat scroll center center;
	border: 2px solid #ffffff;
	-moz-border-radius: 4px;
	font-weight: bold;
	text-align: center;
}

#featureselection li.selected {
	opacity: 0.5;
	cursor: auto;
}

#featureselection #featureselection-clear {
	clear: both;
	text-align: right;
	padding: 0 10px 10px 10px;
	background: #ccffcc url('../images/featureselection-corner-bottom.gif') bottom center no-repeat;
}

.pageblock {
	background: transparent url('../images/userpage-block-bg.jpg') center top repeat-y;
	margin: 0; padding: 0 0 1.5em 0;
}
.pageblock h1 {
	margin: 0 0 -273px 0; padding: 1em 90px 273px 110px;
	height: 40px;
	background: #ffffff url('../images/userpage-block-bg-top.png') center 45px no-repeat;
}
.pageblock .content {
	margin: 0; padding: 0 90px 0 110px;
	min-height: 273px;
}

.window {
	display: none;
}

.ui-dialog .window {
	display: block;
	margin: 0; padding: 0.5em;
	overflow: auto;
}

#window_login label {
	font-weight: bold;
}

#window_avatar .window_content {
	height: 100%;
}
#window_avatar .avatar_selection {
	float: left;
	width: 33%; height: 100%; overflow: hidden;
	text-align: center;
}
#window_avatar .avatar_selection .avatar_icon {
	height: 69px; width: 69px;
	margin: 1em auto;
	cursor: pointer;
}

#window_avatar .avatar_selection .avatar_icon img {
	height: 65px; width: 65px;
	border: 2px solid transparent;
}

#window_avatar .avatar_selection .avatar_icon img:hover {
	background-color: #ffffff;
	border: 2px solid #cccccc;
}

#window_avatar .avatar_selection #avatar_spfupload {
	background: transparent url('../images/avatar-edit.gif') center center no-repeat;
}
#window_avatar .avatar_selection #avatar_spfupload:hover {
	background-color: #cccccc;
}

#window_avatar p {
	margin: 0;
}

#window_progress {
	margin: 0; padding: 12px;
}

#window_download .gfx-url {
	text-align: center;
	font-weight: bold;
	font: 1.2em monospace;
}

#window_delete {
	font-size: 1.1em;
	font-weight: bold;
	color: #ff0000;
}

.window .tabs {
	list-style: none;
	margin: 0; padding: 0;
	clear: both; overflow: auto;
}

.window .tabs li {
	list-style: none;
	margin: 0 0.2em; padding: 0.5em 1em;
	float: left; 
	cursor: pointer;
}

.window div.tab-content {
	clear: both; overflow: auto; width: 100%;
}

#info_form label, #admin_form label {
	display: block;
	float: left;
	width: 25%; margin-right: -10px;
}

#info_form p, #admin_form p {
	clear: both;
}

#info_form input, #info_form textarea, #admin_form input, #admin_form textarea {
	width: 75%;
	float: right; clear: right;
}

#info_form input[type="checkbox"], #admin_form input[type="checkbox"] {
	width: auto;
	float: left;
}

#info_form .form-prepend, #admin_form .form-prepend {
	display: block;
	float: left; margin-left: 10px;
	padding: 2px 0 ;
}

#info_form #info_name, #admin_form #admin_name {
	clear: none; float: left;
	width: 30%;
}

#info_form #info_forum, #admin_form #admin_content {
	font-family: monospace;
}

#info_form #forum_auth_iframe {
	display: none;
}
#info_form #forum_auth_iframe iframe {
	border: none;
	height: 1.3em; width: 100%;
	overflow: hidden;
}

#info_form .form-desc, #admin_form .form-desc {
	display: block;
	width: 75%;
	float: right; clear: right;
	color: #666666; font-size: 0.92em;
}
.sticker .first-col {
	width: 230px; float: left; height: 100%; overflow: visible;
}
.sticker .col {
	width: 230px; float: left; height: 100%; overflow: visible;
}

.sticker .desc {
	clear: both;
	padding: 1em 0;
}

.sticker iframe {
	border: none;
}

.sticker textarea {
	width: 90%;
	height: 5em;
}

.editable {
	cursor: pointer;
}
.sortable .feature, .sortable .group-title, .sortable .addon {
	cursor: move;
}