@charset "UTF-8";

body {
	font: 0.92em '文泉驛正黑','微軟正黑體', sans-serif;
}

input, select, textarea, button, option, optgroup {
	font: 1em '文泉驛正黑','微軟正黑體', sans-serif;
}

#header #header_top_link a {
	/* alpha or beta image style */
	background: transparent url('../images/header-title-alpha-zh-TW.png') center center no-repeat;
	width: 90px; height: 25px;
	/* normal style */
/*	background: transparent url('../images/header-title-zh-TW.png') center center no-repeat;
	width: 54px; height: 19px; */
}

.ui-widget { font-family: '文泉驛正黑','微軟正黑體', segoe ui, sans-serif; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: '文泉驛正黑','微軟正黑體', segoe ui, sans-serif; }
