@charset "UTF-8";

body,
input, select, textarea, button, option, optgroup,
.ui-widget,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: 
		'蘋果儷中黑','Apple LiGothic Medium',
		'微軟正黑體', 'Microsoft JhengHei',
		'文泉驛正黑',
		'Arial', 'Verdana', 'Segoe UI', '新細明體','PMingLiu',
		sans-serif;
}

body {
	font-size: 0.92em 
}

input, select, textarea, button, option, optgroup {
	font-size: 1em
}

#header #header_top_link a {
	/* alpha or beta image style */
	background: transparent url('../images/header-title-alpha-zh-TW.png') center center no-repeat;
	width: 97px; height: 37px;
	/* normal style */
/*	background: transparent url('../images/header-title-zh-TW.png') center center no-repeat;
	width: 54px; height: 19px; */
}